$fonts : ('poppins': Poppins,
    'belanosima': Belanosima);

h1 {
    font-size: 3rem;
    font-family: map-get($fonts , 'belanosima');
}

h2 {
    font-size: 2rem;
    font-family: map-get($fonts , 'belanosima');
}