$fonts : ('poppins': Poppins,
    'belanosima': Belanosima);

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: map-get($fonts , 'belanosima');
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: map-get($fonts , 'belanosima');
}

h3 {
    font-size: 1.5rem;
    font-family: map-get($fonts , 'belanosima');
}

p,
a,
label,
input,
button {
    font-family: map-get($fonts , 'poppins');
}