@use '_colors';
@use '_fonts';
@use '_breakpoints';

#noticias {
    background-color: map-get(colors.$colors , 'azul');
    color: map-get(colors.$colors , 'blanco');
    padding: 2rem;
    text-align: justify;

    h3 {
        text-align: left;
    }
}

.noticias {
    font-family: map-get(fonts.$fonts , 'poppins');
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas:
        "noticia1"
        "noticia2"
        "noticia3"
        "noticia4";
}

.noticia1 {
    grid-area: noticia1;
}

.noticia2 {
    grid-area: noticia2;
}

.noticia3 {
    grid-area: noticia3;
}