@use '_colors';
@use '_fonts';
@use '_breakpoints';

#porq {
    background-color: map-get(colors.$colors , 'verde');
    color: map-get(colors.$colors , 'blanco');
    padding: 2rem;
    text-align: justify;
}

h2 {
    font-family: map-get(fonts.$fonts , 'belanosima');
}

.porq {
    font-family: map-get(fonts.$fonts , 'poppins');
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas:
        "texto"
        "img";

    p {
        grid-area: texto;
    }

    img {
        grid-area: img;
        object-fit: cover;
        max-width: 100%;
        width: 90%;
        border-radius: 1rem;
        justify-self: center;
        box-shadow: 0.3rem 0.3rem 0.8rem map-get(colors.$colors , 'negro');
    }

}