@use '_colors';
@use '_fonts';
@use '_breakpoints';
@use '_header';
@use '_quienes';
@use '_porq';
@use '_propuesta';
@use '_noticias';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}