h1 {
    font-family: Belanosima, sans-serif;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #181823;
    color: #1F8A70;
}

.contenedor {
    padding: 2rem;
}