h1 {
  font-size: 3rem;
  text-align: center;
  font-family: Belanosima;
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-family: Belanosima;
  color: #FC7300;
}

h3 {
  font-size: 1.5rem;
  font-family: Belanosima;
}

p,
a,
label,
input,
button {
  font-family: Poppins;
}

header {
  background-image: url("../../images/banner_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #181823;
  margin-top: 5rem;
}

ul a:hover {
  color: hotpink !important;
}

#main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "quienes" "porq";
}

#quienes,
#porq {
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}

#quienes {
  background-color: #00425A;
  grid-area: quienes;
}

#porq {
  background-color: #1F8A70;
  grid-area: porq;
}

.quienes,
.porq {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "texto" "img";
}
.quienes p,
.porq p {
  grid-area: texto;
}
.quienes img,
.porq img {
  grid-area: img;
  object-fit: cover;
  max-width: 100%;
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  justify-self: center;
  box-shadow: 0.3rem 0.3rem 0.8rem #181823;
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
    height: 100%;
  }
  .quienes {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto img";
  }
  .porq {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img texto";
  }
  #quienes,
  #porq {
    padding: 2rem 3rem;
  }
}
#propuesta {
  background-color: #181823;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}

.propuesta {
  font-family: Poppins;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "img1 p1 p1 p1" "p2 p2 p2 img2" "img3 p3 p3 p3" "p4 p4 p4 img4";
}
.propuesta__img {
  width: 48px;
  height: 48px;
  align-self: center;
  justify-self: center;
}
.propuesta__img .img1 {
  grid-area: img1;
}
.propuesta__img .img2 {
  grid-area: img2;
}
.propuesta__img .img3 {
  grid-area: img3;
}
.propuesta__img .img4 {
  grid-area: img4;
}
.propuesta .p1 {
  grid-area: p1;
}
.propuesta .p2 {
  grid-area: p2;
}
.propuesta .p3 {
  grid-area: p3;
}
.propuesta .p4 {
  grid-area: p4;
}

#noticias {
  background-color: #00425A;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}
#noticias h3 {
  text-align: left;
  color: #181823;
}

.noticias {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "noticia1" "noticia2" "noticia3";
}

.noticia1 {
  grid-area: noticia1;
}

.noticia2 {
  grid-area: noticia2;
}

.noticia3 {
  grid-area: noticia3;
}

@media screen and (min-width: 768px) {
  .noticias {
    padding: 0 2rem;
    column-gap: 3rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "noticia1 noticia2" "noticia3 noticia3";
  }
}
#footer {
  background-color: #1F8A70;
  color: #EFF5F5;
  font-family: Poppins;
  padding: 2rem;
  text-align: justify;
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: 1fr;
  grid-template-areas: "redes" "mapa" "contacto";
}
#footer .redes {
  width: 100%;
  grid-area: redes;
  display: grid;
  gap: 0.5rem;
  grid-column: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". af ." ". ai ." ". at .";
}
#footer .redes a {
  text-decoration: none;
  color: #EFF5F5;
}
#footer .redes a p {
  margin: 0;
}
#footer .redes a:hover {
  color: hotpink !important;
}
#footer .redes .af {
  grid-area: af;
  align-self: center;
}
#footer .redes .ai {
  grid-area: ai;
}
#footer .redes .at {
  grid-area: at;
}

.mapa {
  grid-area: mapa;
  align-self: center;
  justify-self: center;
}
.mapa iframe {
  max-width: 500px;
  max-height: 500px;
  width: 200px;
  height: 200px;
  box-shadow: 0.3rem 0.3rem 0.8rem #181823;
}

.contacto {
  grid-area: contacto;
  align-self: center;
  justify-self: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-family: Belanosima;
}

h2 {
  font-size: 2rem;
  font-family: Belanosima;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
