header {
  background-image: url(../../images/banner_mobile.jpg);
  height: auto;
  padding-bottom: 3rem;
}
header h1 {
  color: #181823;
  margin-top: 3rem;
  text-align: center;
}
header ul {
  align-items: center;
  font-family: Poppins;
}
header ul a {
  color: #181823;
}
header ul a:hover {
  color: hotpink !important;
}

#quienes {
  background-color: #00425A;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}

.quienes {
  font-family: Poppins;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "texto" "img";
}
.quienes p {
  grid-area: texto;
}
.quienes img {
  grid-area: img;
  object-fit: cover;
  max-width: 100%;
  width: 90%;
  border-radius: 1rem;
  justify-self: center;
  box-shadow: 0.3rem 0.3rem 0.8rem #181823;
}

#porq {
  background-color: #1F8A70;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}

.porq {
  font-family: Poppins;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "texto" "img";
}
.porq p {
  grid-area: texto;
}
.porq img {
  grid-area: img;
  object-fit: cover;
  max-width: 100%;
  width: 90%;
  border-radius: 1rem;
  justify-self: center;
  box-shadow: 0.3rem 0.3rem 0.8rem #181823;
}

#propuesta {
  background-color: #181823;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}

.propuesta {
  font-family: Poppins;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "img1 p1 p1 p1" "p2 p2 p2 img2" "img3 p3 p3 p3" "p4 p4 p4 img4";
}
.propuesta__img {
  width: 48px;
  height: 48px;
  align-self: center;
  justify-self: center;
}
.propuesta__img .img1 {
  grid-area: img1;
}
.propuesta__img .img2 {
  grid-area: img2;
}
.propuesta__img .img3 {
  grid-area: img3;
}
.propuesta__img .img4 {
  grid-area: img4;
}
.propuesta .p1 {
  grid-area: p1;
}
.propuesta .p2 {
  grid-area: p2;
}
.propuesta .p3 {
  grid-area: p3;
}
.propuesta .p4 {
  grid-area: p4;
}

#noticias {
  background-color: #00425A;
  color: #EFF5F5;
  padding: 2rem;
  text-align: justify;
}
#noticias h3 {
  text-align: left;
}

.noticias {
  font-family: Poppins;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-areas: "noticia1" "noticia2" "noticia3" "noticia4";
}

.noticia1 {
  grid-area: noticia1;
}

.noticia2 {
  grid-area: noticia2;
}

.noticia3 {
  grid-area: noticia3;
}

#footer {
  background-color: #1F8A70;
  color: #EFF5F5;
  font-family: Poppins;
  padding: 2rem;
  text-align: justify;
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: stretch;
  grid-template-columns: 1fr;
  grid-template-areas: "redes" "mapa" "contacto";
}
#footer .redes {
  width: 100%;
  grid-area: redes;
  display: grid;
  gap: 0.5rem;
  grid-column: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: ". af ." ". ai ." ". at .";
}
#footer .redes a {
  text-decoration: none;
  color: #EFF5F5;
}
#footer .redes a p {
  margin: 0;
}
#footer .redes a:hover {
  color: hotpink !important;
}
#footer .redes .af {
  grid-area: af;
  align-self: center;
}
#footer .redes .ai {
  grid-area: ai;
}
#footer .redes .at {
  grid-area: at;
}

.mapa {
  grid-area: mapa;
  align-self: center;
  justify-self: center;
}
.mapa iframe {
  max-width: 500px;
  max-height: 500px;
  width: 200px;
  height: 200px;
  box-shadow: 0.3rem 0.3rem 0.8rem #181823;
}

.contacto {
  grid-area: contacto;
  align-self: center;
  justify-self: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  font-family: Belanosima;
}

h2 {
  font-size: 2rem;
  font-family: Belanosima;
  padding-bottom: 1rem;
}

/*# sourceMappingURL=index.css.map */
